/*
 * Base structure
 */
.btn, .form-control, .input-group-addon {
    border-radius: 0!important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  background: #eee;
  font-size: 13px;
}
.navbar {
	background: #333744;
}
.navbar-logo {
	float: left;
	padding: 0;
}

.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0px;
    width: 203px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333744;
    padding-top: 40px;
}

/*
 * Main content
 */
.main {
  padding: 0px;
  background: #eee;
  margin-left: 204px;
}
.main .page-header {
  position: fixed;
  width: 100%;
  background: #f3f3f3;
  margin: 0px;
  min-height: 40px;
  line-height: 39px;
  padding: 0;
  display: block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  z-index: 1000;
}

.main .page-header .breadcrumb {
	background-color: transparent;
    display: inline-block;
    line-height: 24px;
    margin: 0 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0;
}

.main .page-content {
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

.widget {
	padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 30px 0;
}

.widget-header {
	position: relative;
    min-height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    color: #555;
    padding-left: 12px;
    text-align: right;
}

.widget-body {
    background-color: #fff;
    -webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);
    padding: 12px;
}

.widget-caption {
	line-height: 34px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}

.widget-buttons {
    display: inline-block;
    padding: 0 5px;
    line-height: 34px;
    position: relative;
    text-align: left;
    height: 36px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav-tabs {
	margin-bottom: 0;
    margin-left: 0;
    border: 0;
    top: 2px;
    background-color: #eee;
}
.nav-tabs>li {
    margin-bottom: -2px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    border-radius: 0 !important;
    color: #777;
    margin-right: -1px;
    line-height: 12px;
    position: relative;
    z-index: 11;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #262626;
    border: 0;
    border-top: 2px solid #2dc3e8;
    border-bottom-color: transparent;
    background-color: #fbfbfb;
    z-index: 12;
    line-height: 16px;
    margin-top: -2px;
}
.tab-content {
    background-color: #fbfbfb;
    padding: 16px 12px;
    position: relative;
}
.nav-tabs>li.active.tab-red>a {
    border-color: #df5138 !important;
}