* {
	font-size: 12px;
	padding: 0;
	margin: 0;
	border-radius: 0!important;
	font-family: "ËÎÌו",Arial,Helvetica,sans-serif;
}

.btn, .form-control, .input-group-addon {
    border-radius: 0!important;
}

body {
  padding-top: 0px;
  background: #eee;
  font-size: 13px;
}


a, a:active, a:hover, a:focus {
	text-decoration: none;
	color: #3a3a3a;
	outline: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

select {
	cursor: pointer;
	border-radius: 4px;
}

pre {
	background-color: #efefef;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,.btn:focus,.btn.focus {
    color: #333;
    text-decoration: none
}

.btn:active,.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.btn-default.open,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #adadad
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #258cd1;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.btn-primary.open,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #217dbb;
    border-color: #1c699d
}

.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #3498db;
    border-color: #258cd1
}

.btn-primary .badge {
    color: #3498db;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #2ecc71;
    border-color: #29b765;
}

.btn-success:hover,.btn-success:focus,.btn-success.focus,.btn-success:active,.btn-success.active,.btn-success.open,.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #25a25a;
    border-color: #1e854a
}

.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
    background-color: #2ecc71;
    border-color: #29b765
}

.btn-success .badge {
    color: #2ecc71;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover,.btn-info:focus,.btn-info.focus,.btn-info:active,.btn-info.active,.btn-info.open,.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #e67e22;
    border-color: #d67118;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning.focus,.btn-warning:active,.btn-warning.active,.btn-warning.open,.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #bf6516;
    border-color: #9f5412
}

.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
    background-color: #e67e22;
    border-color: #d67118
}

.btn-warning .badge {
    color: #e67e22;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e43725;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger.focus,.btn-danger:active,.btn-danger.active,.btn-danger.open,.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d62c1a;
    border-color: #b62516
}

.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
    background-color: #e74c3c;
    border-color: #e43725
}

.btn-danger .badge {
    color: #e74c3c;
    background-color: #fff
}

.btn-gray {
    color: #fff;
    background-color: #95a5a6;
    border-color: #87999a;
}

.btn-gray:hover,.btn-gray:focus,.btn-gray.focus,.btn-gray:active,.btn-gray.active,.btn-gray.open,.open>.dropdown-toggle.btn-gray {
    color: #fff;
    background-color: #798d8f;
    border-color: #687b7c
}

.btn-gray:active,.btn-gray.active,.open>.dropdown-toggle.btn-gray {
    background-image: none
}

.btn-gray.disabled,.btn-gray[disabled],fieldset[disabled] .btn-gray,.btn-gray.disabled:hover,.btn-gray[disabled]:hover,fieldset[disabled] .btn-gray:hover,.btn-gray.disabled:focus,.btn-gray[disabled]:focus,fieldset[disabled] .btn-gray:focus,.btn-gray.disabled.focus,.btn-gray[disabled].focus,fieldset[disabled] .btn-gray.focus,.btn-gray.disabled:active,.btn-gray[disabled]:active,fieldset[disabled] .btn-gray:active,.btn-gray.disabled.active,.btn-gray[disabled].active,fieldset[disabled] .btn-gray.active {
    background-color: #95a5a6;
    border-color: #87999a
}

.btn-gray .badge {
    color: #95a5a6;
    background-color: #fff
}

.btn-yellow {
    color: #fff;
    background-color: #f1c40f;
    border-color: #dab10d;
}

.btn-yellow:hover,.btn-yellow:focus,.btn-yellow.focus,.btn-yellow:active,.btn-yellow.active,.btn-yellow.open,.open>.dropdown-toggle.btn-yellow {
    color: #fff;
    background-color: #c29d0b;
    border-color: #a08209
}

.btn-yellow:active,.btn-yellow.active,.open>.dropdown-toggle.btn-yellow {
    background-image: none
}

.btn-yellow.disabled,.btn-yellow[disabled],fieldset[disabled] .btn-yellow,.btn-yellow.disabled:hover,.btn-yellow[disabled]:hover,fieldset[disabled] .btn-yellow:hover,.btn-yellow.disabled:focus,.btn-yellow[disabled]:focus,fieldset[disabled] .btn-yellow:focus,.btn-yellow.disabled.focus,.btn-yellow[disabled].focus,fieldset[disabled] .btn-yellow.focus,.btn-yellow.disabled:active,.btn-yellow[disabled]:active,fieldset[disabled] .btn-yellow:active,.btn-yellow.disabled.active,.btn-yellow[disabled].active,fieldset[disabled] .btn-yellow.active {
    background-color: #f1c40f;
    border-color: #dab10d
}

.btn-yellow .badge {
    color: #f1c40f;
    background-color: #fff
}

.btn-turquoise {
    color: #fff;
    background-color: #1abc9c;
    border-color: #17a689;
}

.btn-turquoise:hover,.btn-turquoise:focus,.btn-turquoise.focus,.btn-turquoise:active,.btn-turquoise.active,.btn-turquoise.open,.open>.dropdown-toggle.btn-turquoise {
    color: #fff;
    background-color: #148f77;
    border-color: #0f705d
}

.btn-turquoise:active,.btn-turquoise.active,.open>.dropdown-toggle.btn-turquoise {
    background-image: none
}

.btn-turquoise.disabled,.btn-turquoise[disabled],fieldset[disabled] .btn-turquoise,.btn-turquoise.disabled:hover,.btn-turquoise[disabled]:hover,fieldset[disabled] .btn-turquoise:hover,.btn-turquoise.disabled:focus,.btn-turquoise[disabled]:focus,fieldset[disabled] .btn-turquoise:focus,.btn-turquoise.disabled.focus,.btn-turquoise[disabled].focus,fieldset[disabled] .btn-turquoise.focus,.btn-turquoise.disabled:active,.btn-turquoise[disabled]:active,fieldset[disabled] .btn-turquoise:active,.btn-turquoise.disabled.active,.btn-turquoise[disabled].active,fieldset[disabled] .btn-turquoise.active {
    background-color: #1abc9c;
    border-color: #17a689
}

.btn-turquoise .badge {
    color: #1abc9c;
    background-color: #fff
}

.btn-midnight {
    color: #fff;
    background-color: #34495e;
    border-color: #2b3c4e;
}

.btn-midnight:hover,.btn-midnight:focus,.btn-midnight.focus,.btn-midnight:active,.btn-midnight.active,.btn-midnight.open,.open>.dropdown-toggle.btn-midnight {
    color: #fff;
    background-color: #222f3d;
    border-color: #151e26
}

.btn-midnight:active,.btn-midnight.active,.open>.dropdown-toggle.btn-midnight {
    background-image: none
}

.btn-midnight.disabled,.btn-midnight[disabled],fieldset[disabled] .btn-midnight,.btn-midnight.disabled:hover,.btn-midnight[disabled]:hover,fieldset[disabled] .btn-midnight:hover,.btn-midnight.disabled:focus,.btn-midnight[disabled]:focus,fieldset[disabled] .btn-midnight:focus,.btn-midnight.disabled.focus,.btn-midnight[disabled].focus,fieldset[disabled] .btn-midnight.focus,.btn-midnight.disabled:active,.btn-midnight[disabled]:active,fieldset[disabled] .btn-midnight:active,.btn-midnight.disabled.active,.btn-midnight[disabled].active,fieldset[disabled] .btn-midnight.active {
    background-color: #34495e;
    border-color: #2b3c4e
}

.btn-midnight .badge {
    color: #34495e;
    background-color: #fff
}

.btn-link {
    color: #3498db;
    font-weight: normal;
    border-radius: 0
}

.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {
    border-color: transparent
}

.btn-link:hover,.btn-link:focus {
    color: #1d6fa5;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg,.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 3px
}

.btn-sm,.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-xs,.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

.tbl-btn {
	padding: 0;
	color: #333;
	font-size: 12px;
	margin-right: 3px;
	background: none;
	border: none;
}

.tbl-btn:hover, .tbl-btn:active, .tbl-btn:focus {
	color: red;
    background: none;
    text-decoration: underline;
    outline: none;
    outline-offset: 0;
}

.icon-btn {
	color: #666;
	font-size: 14px;
	cursor: pointer;
}

.icon-btn:hover {
	color: #333;
    font-size: 14px;
    cursor: pointer;
}

.navbar {
	background: #333744;
}
.navbar-logo {
	float: left;
	padding: 0;
}

.navbar-fixed-top {
  border: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    display: block;
    background-color: #000;
    padding-top: 35px;
    z-index: 999;
}

#logo {
	display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 10px;
    background-size: auto 40px;
    height: 50px;
    width: 60px;
    margin-bottom: 30px;
}

.side-menu {
    width: 60px;
}

.side-menu>li {
    display: block;
    position: relative;
    cursor: pointer; 
}

.side-menu>li>a {
    display: block;
    color: #999;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.side-menu>li:hover>a, .side-menu>li.active>a {
    background-color: #414956;
    color: #fff;
    font-weight: bold;
}

.side-menu>li>ul {
    top: 0px;
    left: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    width: 160px;
    background-color: #414956;
}

.side-menu>li:hover>ul {
    display: block;
}

.side-menu>li>ul>li>a {
    display: block;
    color: #999;
    font-size: 13px;
    text-align: left;
    padding: 18px 0 18px 19px;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.side-menu>li>ul>li:hover>a {
	color: #fff !important;
	font-weight: 500;
}

#main {
	position: relative;
    display: block;
    padding-left: 60px;
    width: 100%;
    height: 100%;
    min-width: 990px !important;
    min-height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-top {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 60px;
    min-width: 900px;
    z-index: 999;
    height: 35px;
    line-height: 35px;
    background: #0a0a0a;
    border-bottom: 1px solid #ddd;
}

#breadcrumb {
  list-style: none;
  display: inline-block;
  background: #fff;
  border-left: 1px solid #ddd;
}
#breadcrumb .fa {
  font-size: 16px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #ddd;
  display: block;
  background: #0a0a0a;
  text-decoration: none;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  font-size: 13px;
  font-weight: 555;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  background-color: #0a0a0a;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  margin-right: 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #0a0a0a;
  border-width: 17px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #0a0a0a;
}

#page-funcs ul {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

#page-funcs ul li {
    float: left;
}

#page-funcs ul li a {
	display: block;
	width: 60px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	height: 34px;
}

#page-funcs ul li a:hover,
#page-funcs ul li a:active,
#page-funcs ul li a.active {
    background-color: #666;
}

#alert-event-list-container {
	display: none;
	position: fixed;
	top: 35px;
	bottom: 0;
	right: 0;
	width: 320px;
	background-color: #fff;
    background-clip: padding-box;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    white-space: normal;
	padding: 5px 5px; 
}

#main-content {
	display: hidden;
	min-height: 100%;
	width: 100%;
	padding: 40px 10px 0px 10px;
}

ul.top-menu {
	height: 45px;
	width: auto;
	padding: 0;
	list-style: none;
}

ul.top-menu>li {
	float: left;
	list-style-type: none;
	margin: 0;
	position: relative;
	padding: 0;
	height: 45px;
	display: block;
}

ul.top-menu>li>a, ul.top-menu>li>a:hover {
	padding: 0 20px;
	display: block;
	color: #555;
	height: 45px;
	line-height: 45px;
}

ul.top-menu>li>a>i, ul.top-menu>li>a:hover>i {
	font-size: 16px;
}

ul.top-menu>li.open>a, ul.top-menu>li>a:hover, ul.top-menu>li>a:hover {
	background-color: #ddd;
	color: #11a9dd;
}

ul.top-menu .dropdown-menu {
	margin: 0;
	padding: 0;
	-o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

ul.top-menu .dropdown-menu .divider {
	height: 1px;
	margin: 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

ul.top-menu .dropdown-menu>li>a {
	padding: 15px 0 10px 14px;
	background-color: #ffffff;
	font-size: 12px;
	color: #666;
}

ul.top-menu .dropdown-menu>li>a>i {
	width: 20px;
}

ul.top-menu .dropdown-menu>li>a:hover {
	color: #000;
}

.widget-box {
	background: #fff;
	border: 1px solid #CDCDCD;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.widget-title {
	background: #f9f9f9;
	border-bottom: 1px solid #CDCDCD;
	height: 36px;
}

.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left;
	border-right: 1px solid #dadada;
	height: 35px;
}

.widget-title h5 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}

.widget-title .widget-buttons {
	height: 35px;
	float: right;
	padding-right: 10px;
}

.widget-title .widget-buttons a {
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
}

.widget-content {
	padding: 10px;
	background-color: #fff;
}

.widget-content-hidden{
    height: 0;
    padding: 0px;
    overflow: hidden;
    transition: height 0.2s;
    -moz-transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.nav-tabs {
	margin-bottom: 0;
    margin-left: 0;
    border: 0;
    top: 2px;
    background-color: #eee;
}
.nav-tabs>li {
    margin-bottom: -2px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    border-radius: 0 !important;
    color: #777;
    margin-right: -1px;
    line-height: 12px;
    position: relative;
    z-index: 11;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #262626;
    border: 0;
    border-top: 2px solid #2dc3e8;
    border-bottom-color: transparent;
    background-color: #fbfbfb;
    z-index: 12;
    line-height: 16px;
    margin-top: -2px;
}
.tab-content {
    background-color: #fbfbfb;
    padding: 16px 12px;
    position: relative;
}
.nav-tabs>li.active.tab-red>a {
    border-color: #df5138 !important;
}